/*All CSS overrides go here*/

.navbar-default 
{
  background-color: #6b161d;
  border-color: rgba(255,255,255,0.2);
  z-index: 10000;
}

.navbar-default .navbar-brand 
{
  color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus 
{
  color: #fff;
}

.navbar-default .navbar-text 
{
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a 
{
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
  color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus 
{
  color: #fff;
  background-color: rgba(255,255,255,0.2);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus 
{
  color: #000;
  background-color: #fac601;
}

.navbar-default .navbar-toggle 
{
  border-color: rgba(255,255,255,0.2);
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus 
{
  background-color: rgba(255,255,255,0.2);
}

.navbar-default .navbar-toggle .icon-bar 
{
  background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form 
{
  border-color: #ecf0f1;
}

.navbar-default .navbar-link 
{
  color: #ecf0f1;
} 

.navbar-default .navbar-link:hover 
{
  color: #fff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a 
  {
    color: #ecf0f1;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus 
  {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus 
  {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
  }
}

.background_image
{
  background: url(assets/cit_darken_2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-attachment:fixed;
  background-repeat: no-repeat;*/
}

.form-whitebg
{
  background-color: white;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;  
}

.pointer-hover
{
  cursor: pointer;
}

.modal
{
  z-index: 100000;
}

.toast 
{
  width:auto;
  height:20px;
  height:auto;
  position:absolute;
  left:50%;
  margin-left:-100px;
  bottom:10px;
  background-color: #383838;
  color: #F0F0F0;
  font-family: Calibri;
  font-size: 20px;
  padding:10px;
  text-align:center;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.sidebar-normal-image
{
  height: 200px; 
  margin-bottom:20px;
}

.sidebar-selected
{
  background-color: #383838;
}

.normal-image
{
  height: 270px;
  float: left;
  margin: 50px;
}

#image-cropper-square
{
  width: 400px;
  height: 200px;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 18px #D0D0D0;
  border:2px;
}

img.profile
{
  display:inline;
  margin:0 auto;
  height:100%;
  width: auto;
}

.noselect 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    draggable:false;
}

/******************************************************/

.btn-transparent {
  position: relative;
  width: 250px;
  border: 1px;
  border-color: #fff;
  border-radius: 20px;
  border-style: solid;
  background: transparent;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-gold {
  position: relative;
  border: none;
  outline: none;
  background: #dca800;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
}


.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.ripple.show {
  -webkit-animation: ripple .75s ease-out;
  animation: ripple .75s ease-out;
}

@-webkit-keyframes 
ripple { to {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}
@keyframes 
ripple { to {
   -webkit-transform: scale(2);
   transform: scale(2);
   opacity: 0;
  }
}

/******************************************************/
@-webkit-keyframes 
badbounce {  0%, 100% {
 -webkit-transform: translateY(0px);
}
 10% {
 -webkit-transform: translateY(6px);
}
 30% {
 -webkit-transform: translateY(-4px);
}
 70% {
 -webkit-transform: translateY(3px);
}
 90% {
 -webkit-transform: translateY(-2px);
}
}
@-moz-keyframes 
badbounce {  0%, 100% {
 -moz-transform: translateY(0px);
}
 10% {
 -moz-transform: translateY(6px);
}
 30% {
 -moz-transform: translateY(-4px);
}
 70% {
 -moz-transform: translateY(3px);
}
 90% {
 -moz-transform: translateY(-2px);
}
}
@keyframes 
badbounce {  0%, 100% {
 -webkit-transform: translateY(0px);
 -moz-transform: translateY(0px);
 -ms-transform: translateY(0px);
 -o-transform: translateY(0px);
 transform: translateY(0px);
}
 10% {
 -webkit-transform: translateY(6px);
 -moz-transform: translateY(6px);
 -ms-transform: translateY(6px);
 -o-transform: translateY(6px);
 transform: translateY(6px);
}
 30% {
 -webkit-transform: translateY(-4px);
 -moz-transform: translateY(-4px);
 -ms-transform: translateY(-4px);
 -o-transform: translateY(-4px);
 transform: translateY(-4px);
}
 70% {
 -webkit-transform: translateY(3px);
 -moz-transform: translateY(3px);
 -ms-transform: translateY(3px);
 -o-transform: translateY(3px);
 transform: translateY(3px);
}
 90% {
 -webkit-transform: translateY(-2px);
 -moz-transform: translateY(-2px);
 -ms-transform: translateY(-2px);
 -o-transform: translateY(-2px);
 transform: translateY(-2px);
}
}

.ss_animate {
  -webkit-animation: badbounce .5s linear;
  -moz-animation: badbounce .5s linear;
  animation: badbounce .5s linear;
}

#ss_menu {
  bottom: 30px;
  width: 60px;
  height: 60px;
  color: #fff;
  position: fixed;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
  right: 30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#ss_menu > .menu {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  color: #000;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}

#ss_menu > .menu .share {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}

#ss_menu > .menu .share .circle {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
  position: absolute;
  width: 12px;
  height: 12px;
  /*border-radius: 50%;*/
  background: #000;
  top: 50%;
  margin-top: -6px;
  left: 12px;
  opacity: 1;
}

#ss_menu > .menu .share .circle:after, #ss_menu > .menu .share .circle:before {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
  content: '';
  opacity: 1;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  /*border-radius: 50%;*/
  background: #000;
}

#ss_menu > .menu .share .circle:after {
  left: 20.78461px;
  top: 12.0px;
}

#ss_menu > .menu .share .circle:before {
  left: 20.78461px;
  top: -12.0px;
}

#ss_menu > .menu .share .bar {
  /*-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;*/
  width: 24px;
  height: 3px;
  background: #000;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 18px;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#ss_menu > .menu .share .bar:before {
  /*-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;*/
  content: '';
  width: 24px;
  height: 3px;
  background: #000;
  position: absolute;
  top:12px;
  left: 12px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#ss_menu > .menu .share.close .circle { opacity: 0; }

#ss_menu > .menu .share.close .bar {
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -12px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
}

#ss_menu > .menu .share.close .bar:before {
  -webkit-transform-origin: 50% -350%;
  -moz-transform-origin: 50% -350%;
  -ms-transform-origin: 50% -350%;
  -o-transform-origin: 50% -350%;
  transform-origin: 50% -350%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#ss_menu > .menu.ss_active {
  /*background: #00796B;*/
  background: #fac601;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

#ss_menu > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  background: #fac601;
  border-radius: 50%;
  display: table;
}

#ss_menu > div i {
  display: table-cell;
  vertical-align: middle;
}

#ss_menu > div:hover {
  background: #fae51f;
  cursor: pointer;
}

#ss_menu div:nth-child(1) {
  top: -20.0px;
  left: -118.56406px;
}

#ss_menu div:nth-child(2) {
  top: -118.56406px;
  left: -40.0px;
}

/***********/