<template name="instructorProfile">
	<!-- Profile Preview -->
	<div id="page-content-wrapper" style="margin-top:50px;">
		<div class="page-content inset">
			<div class="container-fluid">
				<div class="panel panel-default" style="margin-top:50px;margin-left:100px;">
				  	<div class="panel-body">
					    <img alt="Profile Picture" src="{{ image }}" class="profPic normal-image {{#if notEquals image '/assets/profile-picture3.png'}}img-circle{{/if}}" id="image" width="270" height="270">
					    <div style="margin-left:30px;margin-top:100px;">
						    <h4>Name</h4>
						    <h6>{{ name }}</h6>

						    <h4>Department</h4>
						    <h6>{{ department }}</h6>

						    <h4>Gender</h4>
						    <h6>{{ gender }}</h6>
						</div>
				  	</div>
				</div>
				<!--For the modal-->
				<div class="modal fade" id="image_modal" role="dialog" aria-labelledby="image_modal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o" style="color:black;"></i></span></button>
					        	<h5 class="modal-title" id="semester_modal">Choose your profile picture:</h5>
						    </div>
							<div class="modal-body">
								<form id="image_upload">
									<div class="form-group">
			                        	<div id="image-cropper-square">
			                         		<img class="profile noselect form-control" name="previewImage" id="previewImage" src="/assets/placeholder.png">
			                        	</div>
					                </div>
				                    <div class="form-group">
				                    	<input type="file" id="imageUpload" name="imageUpload" accept="image/*" class="btn btn-default form-control">
				                    </div>
					                <div class="form-group">
										<button type="submit" class="btn btn-success form-control">Upload Picture</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>