<template name="instructorBanner">
	<header class="navbar">
		<nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/instructor"> &nbsp; TeknoyRoom</a>
	        </div>

	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	          <ul class="nav navbar-nav navbar-right">
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome User &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
	              <ul class="dropdown-menu" role="menu">
	                <li><a href="/instructor" id="dashboard"><i class="fa fa-home"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DASHBOARD</a></li>
	                <li><a href="#" id="logout"><i class="fa fa-power-off" style="color:red;"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LOG OUT</a></li>
	              </ul>
	            </li>
	          </ul>
	        </div>
	        <div style="color:white; padding-left:50px;">
	       	</div>
	      </div>
	    </nav>
	</header>
</template>