<template name="instructorDashboard">
	<div class="jumbotron" style="margin-top:50px;margin-left:50px;">
	  	<p>
		  	<h1>
		  		Hello, Instructor!
		  		<a class="btn btn-primary btn-lg" href="#" role="button" style="float:right;">
			  		Go to Class CSS323&nbsp;<i class="fa fa-sign-out"></i>
			  	</a>
		  	</h1>
	  	</p>
	  	<p>
			<div class="panel panel-default">
			  <div class="panel-body">
			    <textarea class="form-control" rows="20" id="textArea"></textarea>
			  </div>
			</div>
		</p>
	</div>
</template>