<template name="instructorClassList">
	<!-- Instructor Current Courses -->
	<div id="page-content-wrapper" style="margin-top:50px;">
		<div class="page-content inset">
			<div class="container-fluid">
				{{> notifications}}
				<div class="panel panel-default" style="margin-top:50px;margin-left:100px;">
					<div class="panel-body">
						<div class="input-group" style="float:left;">
							<h6>{{ section.course.title }} - {{ section.name }}</h6>
						</div>
						<div class="input-group" style="float:right;">
							<i class="fa fa-search"></i>
							<input type="text" id="search" name="search">
						</div>
						{{ #if Template.subscriptionsReady }}
							{{ #if users.length }}
								<table class="table">
								  	<thead>
										<tr>
											<th>NAME</th>
											<th>COURSE</th>
										</tr>
									</thead>
									<tbody>
										{{ #each users }}
											<tr class="{{#if state}}alert alert-warning{{/if}}">
												<td class="pointer-hover">{{ profile.first_name }} {{ profile.middle_name }} {{ profile.last_name }}</td>
												<td class="pointer-hover">{{ profile.program }} - {{ profile.year }}</td>
											</tr>
										{{/each}}
									</tbody>
								</table>
							{{ else }}
								{{> collectionEmpty message="There are no users enrolled in this section."}}
							{{ /if }}
						{{ else }}
							{{> loading }}
						{{ /if }}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>