<template name="instructorEnterClass">
	<!-- Profile Preview -->
	<div id="page-content-wrapper">
		<div class="page-content inset">
			<div class="container-fluid">

				<!--<div class="alert alert-danger" role="alert" style="margin-top:10px;">(Display warning here)</div>-->

				<div style="margin-top:50px;margin-left:60px;">
					<div class="panel panel-default" style="float:left;margin-right:20px;">
						<div class="panel-body">
							<div class="row" style="float:right;">
								<a href="" class="btn btn-success" data-toggle="tooltip" title="Leave Class" id="leave">
									<i class="fa fa-sign-out"></i>
								</a>
							</div>
							<div class="row">
						  		<!--<input type="image" alt="Profile Picture" src="/assets/classroom.jpg" style="height:450px;width:550px;float:left;margin:10px;">-->
						  		<video id="myVideo" muted="true" class="myVideo" autoplay style="height:auto;width:550px;"></video>
						  	</div>
							<div class="row" style="float:left;">
								<a id="share-screen" href="#" class="btn btn-success" data-toggle="tooltip" title="Share Current Screen">
						  			<i class="fa fa-line-chart"></i>
						  		</a>&nbsp;&nbsp;
								<a id="share-camera" href="#" class="btn btn-success" data-toggle="tooltip" title="Share Camera Feed">
									<i class="fa fa-video-camera"></i>
								</a>&nbsp;&nbsp;
								<a href="#" class="btn btn-success" data-toggle="tooltip" title="Answer the Question">
									<i class="fa fa-microphone"></i>
								</a>&nbsp;&nbsp;
								<a href="#" class="btn btn-success" data-toggle="tooltip" title="Ask a Question">	
									<i class="fa fa-question-circle"></i>
								</a>
							</div>
						</div>
					</div>

				  	<div class="panel panel-warning" style="width:250px;float:right;">
						<div class="panel-heading">
						  	<h5 class="panel-title"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Students Online</h5>
						</div>
						<div class="panel-body">
						    <ul>
						    	<h6>
						    		{{ #each onlineUsers }}
							    		<a href="#" id="makeCall"><li>
							    			[{{ username }}] {{ profile.first_name }} {{ profile.middle_name }} {{ profile.last_name }}
							    		</li></a>
						    		{{ /each }}
								</h6>
						    </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>