<template name="addSection">
		<div class="form-group" style="text-align:right;">
			<a href="#" id="removeSection">
				X
			</a>		
		</div>

	<div class="form-group">
	  <input type="text" id="name" name="name" class="form-control" placeholder="Section Name" >
	</div>

	<div class="form-group">
	    <p>
	    	<label>Schedule</label>
		</p>
		<input name="days" type="checkbox" class="filled-in" id="filled-in-box1" value="2" />
	  	<label for="filled-in-box1">Monday</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box2" value="3" />
	  	<label for="filled-in-box2">Tuesday</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box3" value="4" />
	  	<label for="filled-in-box3">Wednesday</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box4" value="5" />
	  	<label for="filled-in-box4">Thursday</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box5" value="6" />
	  	<label for="filled-in-box5">Friday</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box6" value="7" />
	  	<label for="filled-in-box6">Saturday</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box7" value="1" />
	  	<label for="filled-in-box7">Sunday</label>&nbsp;&nbsp;&nbsp;&nbsp;

		</div>
		<div class="form-group">
			<label>Start Time</label>
		<input id="start_time" name="start_time" class="timepicker form-control" type="text">
	</div>
	<div class="form-group">
		<label>End Time</label>
		<input id="end_time" name="end_time" class="timepicker form-control" type="text" >
	</div>

	<hr style="border-color:#f8c400;">

</template>