<template name="addSection">
	{{#if equals _id 'new'}}
		<div class="form-group" style="text-align:right;">
			<a id="removeSection" style="cursor:pointer;">
				<i class="fa fa-times"></i>
			</a>		
		</div>
	{{/if}}

	<div class="form-group">
	  <input type="text" id="name" name="name" class="form-control" placeholder="SECTION NAME" value="{{name}}" >
	</div>

	<div class="form-group">
	    <p>
	    	<label>SCHEDULE</label>
		</p>
		<input name="days" type="checkbox" class="filled-in" id="filled-in-box1" value="2" checked="{{#each day}}{{#if equals this 2}}true{{/if}}{{/each}}" />
	  	<label for="filled-in-box1">MONDAY</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box2" value="3" checked="{{#each day}}{{#if equals this 3}}true{{/if}}{{/each}}" />
	  	<label for="filled-in-box2">TUESDAY</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box3" value="4" checked="{{#each day}}{{#if equals this 4}}true{{/if}}{{/each}}" />
	  	<label for="filled-in-box3">WEDNESDAY</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box4" value="5" checked="{{#each day}}{{#if equals this 5}}true{{/if}}{{/each}}" />
	  	<label for="filled-in-box4">THURSDAY</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box5" value="6" checked="{{#each day}}{{#if equals this 6}}true{{/if}}{{/each}}" />
	  	<label for="filled-in-box5">FRIDAY</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box6" value="7" checked="{{#each day}}{{#if equals this 7}}true{{/if}}{{/each}}" />
	  	<label for="filled-in-box6">SATURDAY</label>&nbsp;&nbsp;&nbsp;&nbsp;

	  	<input name="days" type="checkbox" class="filled-in" id="filled-in-box7" value="1" checked="{{#each day}}{{#if equals this 1}}true{{/if}}{{/each}}" />
	  	<label for="filled-in-box7">SUNDAY</label>&nbsp;&nbsp;&nbsp;&nbsp;

	</div>
	
	<div class="form-group">
		<label>START TIME</label>
		<input id="start_time" name="start_time" class="timepicker form-control" type="text" value="{{#if equals _id 'new' }}{{else}}{{#if greaterThan hour 12}}{{minusTwelve hour}}:{{minute}} PM{{else}}{{hour}}:{{minute}} AM{{/if}}{{/if}}">
	</div>

	<div class="form-group">
		<label>END TIME</label>
		<input id="end_time" name="end_time" class="timepicker form-control" type="text" value="{{#if equals _id 'new' }}{{else}}{{#if greaterThan (computeTimeEndHour hour duration) 12}}{{minusTwelve (computeTimeEndHour hour duration)}}:{{computeTimeEndMinute minute duration}} PM{{else}}{{computeTimeEndHour hour duration}}:{{computeTimeEndMinute minute duration}} AM{{/if}}{{/if}}">
	</div>

	<hr style="border-color:#f8c400;">

</template>