<template name="sectionList">
	{{#if equals currentPage 'adminViewSections'}}
		<div id='ss_menu'>
			<div id="addSection"><i class="fa fa-plus-square" style="color:black;"></i></div>
			<div id="addSectionCSV"><i class="fa fa-upload" style="color:black;"></i></div>
			<div class='menu'>
		 		<div class='share' id='ss_toggle' data-rot='180'>
					<div class='bar'></div>
				</div>
			</div>
		</div>
	{{/if}}
	<div id="page-content-wrapper">
		<div class="container-fluid" style="padding-right:0px;margin-right:0px;">
			<div class="row" style="margin-top:30px;">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-search" style="color:white;"></i>
					</span>
					<input type="text" id="search" name="firstname" class="form-control" style="color:white;">
				</div>
				<div class="table" style="margin-top:20px;">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Course</th>
								<th>Semester</th>
								<th>Day/s</th>
								<th>Starting Time</th>
								<th>Duration</th>
								{{#if equals currentPage 'adminViewSections'}}
									<th></th>
								{{/if}}
							</tr>
						</thead>
						<tbody>
							{{#each sections}}
								<tr>
									<td class="pointer-hover">{{name}}</td>
									<td class="pointer-hover">{{course.title}}</td>
									<td class="pointer-hover">{{semester.school_year}} {{semester.name}}</td>
									<td class="pointer-hover">
										{{#each day}}
											{{#if equals this 1}}
												Sun
											{{/if}}
											{{#if equals this 2}}
												M
											{{/if}}
											{{#if equals this 3}}
												T
											{{/if}}
											{{#if equals this 4}}
												W
											{{/if}}
											{{#if equals this 5}}
												Th
											{{/if}}
											{{#if equals this 6}}
												F
											{{/if}}
											{{#if equals this 7}}
												Sat
											{{/if}}
										{{/each}}
									</td>
									<td class="pointer-hover">{{hour}}:{{minute}}</td>
									<td class="pointer-hover">{{duration}}</td>
									{{#if equals currentPage 'adminViewSections'}}
										<td><i id="delete" style="cursor:pointer; font-size:20px;" class="fa fa-trash" ></i></td>
									{{/if}}
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<!-- Modal Import CSV -->
				<div class="modal fade" id="sectionCSV_modal" role="dialog" aria-labelledby="sectionCSV_modal">
				  <div class="modal-dialog">
				    <div class="modal-content">
					     <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span></button>
				        	<h5 class="modal-title" id="sectionCSV_modal">SECTIONS - IMPORT CSV FILE</h5>
					    </div>
					    <form id="frmImportCSV">
						    <div class="modal-body">
						    	<div class="form-group">
						    		<label>Semesters</label>
						    		<select id="semester" name="semester" class="form-control">
						    			{{#each semesters}}
						    				<option value="{{_id}}">{{school_year}} {{name}}</option>
						    			{{/each}}
						    		</select>
						    	</div>
						    	<div class="form-group">
						    		<label>Courses</label>
						    		<select id="course" name="course" class="form-control">
						    			{{#each courses}}
						    				<option value="{{_id}}">{{subject_number}}: {{title}}</option>
						    			{{/each}}
						    		</select>
						    	</div>
						    	<div class="form-group">
						    		<label>Choose file to upload</label>
						    		<input type="file" class="form-control" name="uploadCSV">
						    	</div>
						    </div>
						    <div class="modal-footer">
						        <button type="submit" class="btn btn-success">IMPORT CSV</button>
						    </div>
					    </form>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	{{#if equals currentPage 'adminViewSections'}}
		<script src="/js/round-side-menu.js"></script>
	{{/if}}
</template>