<template name="semesterList">
	{{#if equals currentPage 'adminViewSemesters'}}
		<div id='ss_menu'>
			<div id="addSemester"><i class="fa fa-calendar-plus-o" style="color:black;"></i></div>
			<div id="addSemesterCSV"><i class="fa fa-upload" style="color:black;"></i></div>
			<div class='menu'>
		 		<div class='share' id='ss_toggle' data-rot='180'>
					<div class='bar'></div>
				</div>
			</div>
		</div>
	{{/if}}
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid" style="padding-right:0px;margin-right:0px;">
			<div class="row" style="margin-top:30px;">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-search" style="color:white;"></i>
					</span>
					<input type="text" id="search" name="firstname" class="form-control" style="color:white;">
				</div>
				<div class="table" style="margin-top:20px;">
					{{#if semesters.count}}
						<table class="table">
							<thead>
								<tr>
									<th>SCHOOL YEAR</th>
									<th>SEMESTER NAME</th>
									<th>START DATE</th>
									<th>END DATE</th>
									{{#if equals currentPage 'adminViewSemesters'}}
										<th></th>
									{{/if}}
								</tr>
							</thead>
							<tbody>
								{{#each semesters}}
									<tr>
										<td class="pointer-hover">{{school_year}}</td>
										<td class="pointer-hover">{{name}}</td>
										<td class="pointer-hover">{{start_date}}</td>
										<td class="pointer-hover">{{end_date}}</td>
										{{#if equals currentPage 'adminViewSemesters'}}
											<td><i id="delete" style="cursor:pointer; font-size:20px;" class="fa fa-trash" ></i></td>
										{{/if}}
									</tr>
								{{/each}}
							</tbody>
						</table>
					{{else}}
						<div class="jumbotron text-center" style="background:white;">
							<img src="/assets/empty_list_icon.png" style="height:288px;">
							<div >
								<h4>Nothing to display!</h4>
								<p>Collection is empty.</p>
							</div>
						</div>
					{{/if}}
				</div>
				<!-- Modal Import CSV -->
				<div class="modal fade" id="semesterCSV_modal" role="dialog" aria-labelledby="semesterCSV_modal">
				  <div class="modal-dialog">
				    <div class="modal-content">
					     <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span></button>
				        	<h5 class="modal-title" id="semesterCSV_modal">SEMESTERS - IMPORT CSV FILE</h5>
					    </div>
					    <form id="frmImportCSV">
						    <div class="modal-body">
						    	<div class="form-group">
						    		<label>Choose file to upload: </label>
						    		<input type="file" class="form-control" name="uploadCSV" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
						    	</div>
						    </div>
						    <div class="modal-footer">
						        <button type="submit" class="btn btn-success">IMPORT CSV</button>
						    </div>
					    </form>
				    </div>
				  </div>
				</div>
			</div>
			<!-- /#row for tiled searches -->
		</div>
		<!-- /#container-fluid -->
	</div>
	<!-- /#page-content-wrapper -->
	{{#if equals currentPage 'adminViewSemesters'}}
		<script src="/js/round-side-menu.js"></script>
	{{/if}}
</template>