<template name="semesterList">
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid" style="padding-right:0px;margin-right:0px;">
			<div class="row" style="margin-top:30px;">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-search" style="color:white;"></i>
					</span>
					<input type="text" id="search" name="firstname" class="form-control" style="color:white;">
				</div>
				<div class="table" style="margin-top:20px;">
					<table class="table">
						<thead>
							<tr>
								<th>School Year</th>
								<th>Name</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#each semesters}}
								<tr>
									<td class="pointer-hover">{{school_year}}</td>
									<td class="pointer-hover">{{name}}</td>
									<td class="pointer-hover">{{start_date}}</td>
									<td class="pointer-hover">{{end_date}}</td>
									<td><i id="delete" style="cursor:pointer; font-size:20px;" class="fa fa-trash" ></i></td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
			<!-- /#row for tiled searches -->
		</div>
		<!-- /#container-fluid -->
	</div>
	<!-- /#page-content-wrapper -->
</template>