<template name="semesterForm">
	<div id="page-content-wrapper">
		<div class="container-fluid" style="padding-right:0px;">
			<div class="row form-whitebg" style="margin-top:30px;">
				<!--<div class="alert alert-warning" role="alert" style="margin-top:10px;">(Display warning here)</div>-->

				<form id="frmSemester">
					{{ #if Template.subscriptionsReady }}
						<input id="_id" name="_id" type="hidden" value="{{ item._id }}">
						
						<div class="form-group">
					    	<input type="text" id="school_year" name="school_year" class="form-control" placeholder="SCHOOL YEAR i.e. 2015-2016" value="{{ item.school_year }}">
					    </div>

						<div class="form-group">
					      <input type="text" id="name" name="name" class="form-control" placeholder="SEMESTER NAME" value="{{ item.name }}">
					    </div>

			        	<div class="form-group">
					      	<label>START DATE</label>
					      	<input id="start_date" name="start_date" type="date" class="datepicker form-control" value="{{ item.start_date }}">
						</div>
						<div class="form-group">
							<label>END DATE</label>
							<input id="end_date" name="end_date" type="date" class="datepicker form-control" value="{{ item.end_date }}">
						</div>
						
						<div class="form-group">
							<button class="btn-gold form-control">
								{{ #if item.isNew }}
									ADD
								{{ else }}
									EDIT
								{{ /if }} SEMESTER
							</button>
						</div>
					{{ else }}
						{{> loading }}
					{{ /if }}
				</form>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</template>