<template name="semesterList">
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid" style="padding-right:0px;margin-right:0px;">
			<div class="row" style="margin-top:30px;">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-search"></i>
					</span>
					<input type="text" id="search" name="firstname" class="form-control">
				</div>
				<div class="table" style="margin-top:20px;">
					<table class="table table-striped">
						<tr>
							<th>School Year</th>
							<th>Name</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th></th>
						</tr>
						{{#each semesters}}
							<tr class="pointer-hover">
								<td>{{school_year}}</td>
								<td>{{name}}</td>
								<td>{{start_date}}</td>
								<td>{{end_date}}</td>
								<td id="delete"><h5><i class="fa fa-trash"></i></h5></td>
							</tr>
						{{/each}}
					</table>
				</div>
			</div>
			<!-- /#row for tiled searches -->
		</div>
		<!-- /#container-fluid -->
	</div>
	<!-- /#page-content-wrapper -->
</template>