<template name="userForm">
	<!-- <h1> - USER FORM - </h1>
	<form id="frmUser">
		<label for="username">Username: </label> <input id="username" name="username" type="text" /><br/>
		<label for="password">Password: </label> <input id="password" name="password" type="password" /><br/>
		<label for="first_name">First Name: </label> <input id="first_name" name="first_name" type="text" /><br/>
		<label for="last_name">Middle Name: </label> <input id="middle_name" name="middle_name" type="text" /><br/>
		<label for="last_name">Last Name: </label> <input  id="last_name" name="last_name" type="text" /><br/>
		<label for="user_type">User Type: </label>
		<select id="user_type" name="user_type">
			<option value="1">Instructor</option>
			<option value="2">Students</option>
		</select> <br/>
		<label for="department">Department: </label> <input id="department" name="department" type="text" /><br/>
		<label for="program">Program: </label> <input id="program" name="program" type="text" /><br/>
		<label for="year">Year: </label> <input id="year" name="year" type="number" /><br/>

		<input id="addUser" type="submit" value="ADD USER" />
	</form> -->

	<!-- Add Student -->
	<div id="page-content-wrapper">
		<div class="container-fluid" style="padding-right:0px;margin-right:0px;">
			<div class="row">
				<div class="col-lg-12" style="padding-left:0px;padding-right:0px;">
					<a href="#menu-toggle" class="btn btn-sm btn-default" id="menu-toggle"><span class="glyphicon glyphicon-th"></span></a>
				</div>
			</div>

			<div class="alert alert-warning" role="alert" style="margin-top:10px;">(Display warning here)</div>

			<div class="media" style="margin-top:30px;">
				<form class="navbar-form navbar-left" role="search" id="frmUser">
					<div class="media left" style="margin-right:30px;">
				    	<input class = "media-object" type="image" alt="Profile Picture" src="/assets/profile-picture3.png" style="height:270px;">
					    <input type="file" id="my_file" style="display: none;">
				    </div>

			        <div class="media-body">
						<div class="input-field">
							<input id="id_number" name="id_number" class="form-contol" type="text" placeholder="ID Number">
						</div>

						<div class="input-field">
							<input id="first_name" name="first_name" class="form-contol" type="text" placeholder="First Name">
						</div>

						<div class="input-field">
							<input id="middle_name" name="middle_name" class="form-contol" type="text" placeholder="Middle Name">
						</div>

						<div class="input-field">
							<input id="last_name" name="last_name" class="form-contol" type="text" placeholder="Last Name">
						</div>

				        <label>Profession</label>
					  	<select class="browser-default" id="user_type" name="user_type">
					    	<option value="2" selected>Student</option>
					    	<option value="1">Instructor</option>
					  	</select>

					  	{{ #if isStudent }}
							<label>Year</label>
							<select class="browser-default" id="year" name="year">
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>

							<label>Degree Program</label>
							<select class="browser-default" id="program" name="program">
								<option value="1" selected>BSIT</option>
								<option value="2">BSCS</option>
							</select>
						{{ else }}
							<div class="input-field">
								<input id="department" name="department" class="form-contol" type="text" placeholder="Department">
							</div>
						{{ /if }}

				  		<label>Gender</label>
					  	<p>
							<input name="gender" type="radio" id="male" value="male" checked>
							<label for="male" style="font-size:14px;">Male</label>
					    </p>
					    <p>
							<input name="gender" type="radio" id="female" value="female">
							<label for="female" style="font-size:14px;">Female</label>
					    </p>

					    <button type="submit" class="btn btn-default form-control" style="background-color:#89343b;color:#fff;">SUBMIT</button>
				    </div>
			    </form>
			</div> <!-- /#media-->
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</template>