<template name="userList">
	<h1> - USER LIST- </h1>
	<table border="1" class="table">
		<tr>
			<th>User Id</th>
			<th>Username</th>
			<th>Password</th>
			<th>First Name</th>
			<th>Middle Name</th>
			<th>Last Name</th>
			<th>State</th>
			<th>Ban or Not</th>
			<th>User Type</th>
			<th>Program</th>
			<th>Year</th>
			<th>Department</th>
			<th colspan="2">Action</th>
		</tr>
		{{#each users}}
		<tr>
			<td>{{_id}}</td>
			<td>{{username}}</td>
			<td>{{password}}</td>
			<td>{{first_name}}</td>
			<td>{{middle_name}}</td>
			<td>{{last_name}}</td>
			<td>
				{{#if state}}
					Online
				{{else}}
					Offline
				{{/if}}
			</td>
			<td>
				{{#if banned}}
					Banned
				{{else}}
					Not Ban
				{{/if}}
			</td>
			<td>{{user_type}}</td>
			<td>{{program}}</td>
			<td>{{year}}</td>
			<td>{{department}}</td>
			<td><button id="edit">Edit</button></td>
			<td><button id="delete">Delete</button></td>
		</tr>
		{{/each}}
	</table>
</template>