<template name="studentDashboard">
	<div id="page-content-wrapper">
		{{> notifications}}
		<div class="jumbotron" style="margin-top:50px;margin-left:50px;">
		  	<p>
			  	<h1>
			  		Hello, {{name}}!
			  	</h1>
		  	</p>
		  	<p>
		  		{{ #if Template.subscriptionsReady }}
		  			{{#each notes}}
		  				<div class="panel panel-default notes" style="cursor:pointer;height:100px;overflow:hidden;">
						  <div class="panel-heading">
						    <h3 class="panel-title">{{course.subject_number}}: {{course.title}}</h3>
						  </div>
						  <div class="panel-body">
						  	{{content}}
						  </div>
						</div>
					{{else}}
						{{> collectionEmpty message="Your shelf is empty. There are no notes available."}}
		  			{{/each}}
		  		{{ else }}
					{{> loading }}
				{{ /if }}
			</p> 
			<div class="modal fade" id="notes_modal" tabindex="-1" role="dialog" aria-labelledby="notes_modal">
			  	<div class="modal-dialog">
				    <div class="modal-content">
					     <div class="modal-header">
					     	<button id="close_notes_modal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o" style="color:black;"></i></span></button>
				        	<input type="text" id="notes_title" name="notes_title" class="modal-title form-control" readonly="true" value="{{note.course.subject_number}}: {{note.course.title}}">
					    </div>
					    <div class="modal-body">
					    	<form id="frmUpdateNote">
						        <textarea class="form-control" rows="12" id="content" name="content" style="overflow-y:auto;resize: none;">{{note.content}}</textarea>
						        <br>
						        <br>
						        <div style="float:right;margin-top:-15px;margin-right:5px;">
							        <button type="clear" class="btn btn-warning btn-lg"  style="float:right;" id="clearContent" name="clearContent">
								  		<i class="fa fa-eraser"></i>
								  	</button>
								</div>
								<div style="float:right;margin-top:-15px;">
							        <button type="submit" class="btn btn-warning btn-lg" style="float:right;" id="updateNote" name="updateNote">
								  		<i class="fa fa-pencil"></i>
								  	</button>
								</div>
					        </form>
					        <br>
					        <br>
					    </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</template>