<template name="studentPreviousCourses">
	<!-- Instructor Current Courses -->
	<div id="page-content-wrapper">
		<div class="page-content inset">
			<div class="container-fluid">

				<!--<div class="alert alert-danger" role="alert" style="margin-top:10px;">(Display warning here)</div>-->

				<div class="panel panel-default" style="margin-top:50px;margin-left:100px;">
				  	<div class="panel-body">
				  		<div class="input-group" style="float:right;">
							<i class="fa fa-search"></i>
							<input type="text" id="search" name="search">
						</div>
						<table class="table table-striped table-hover">
						  	<thead>
								<tr>
									<th>Name</th>
									<th>Course</th>
									<th>Semester</th>
									<th>Day/s</th>
									<th>Starting Time</th>
									<th>Duration</th>
								</tr>
							</thead>
							<tbody>
								{{ #each sections }}
									<a href="/student/previous/{{ _id }}"><tr>
										<td class="pointer-hover">{{name}}</td>
										<td class="pointer-hover">{{course.title}}</td>
										<td class="pointer-hover">{{semester.name}}</td>
										<td class="pointer-hover">{{day}}</td>
										<td class="pointer-hover">{{hour}}:{{minute}}</td>
										<td class="pointer-hover">{{duration}}</td>
									</tr></a>
								{{/each}}
							</tbody>
						</table> 
					</div>
				</div>
			</div>
		</div>
	</div>
</template>