<template name="studentProfile">
	<!-- Profile Preview -->
	<div id="page-content-wrapper">
		<div class="page-content inset">
			<div class="container-fluid">

				<!--<div class="alert alert-danger" role="alert" style="margin-top:10px;">(Display warning here)</div>-->

				<div class="panel panel-default" style="margin-top:50px;margin-left:100px;">
				  	<div class="panel-body">
					    <input type="image" alt="Profile Picture" src="/assets/profile-picture3.png" style="height:270px;float:left;margin:50px;">
					    <div style="margin-left:30px;margin-top:65px;">
						    <h4>Name</h4>
						    <h6>{{ name }}</h6>

						    <h4>Year</h4>
						    <h6>{{ year }}</h6>

						    <h4>Degree Program</h4>
						    <h6>{{ program }}</h6>

						    <h4>Gender</h4>
						    <h6>{{ gender }}</h6>
						</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</template>