<template name="studentAllCourses">
	<!-- Instructor Current Courses -->
	<div id="page-content-wrapper">
		<div class="page-content inset">
			<div class="container-fluid">

				<!--<div class="alert alert-danger" role="alert" style="margin-top:10px;">(Display warning here)</div>-->

				<div class="panel panel-default" style="margin-top:50px;margin-left:100px;">
				  	<div class="panel-body">
				  		<div class="input-group" style="float:right;">
							<i class="fa fa-search"></i>
							<input type="text" id="search" name="search">
						</div>
						<table class="table table-striped table-hover">
						  	<thead>
							    <tr>
							      <th>Course</th>
							      <th>Schedule</th>
							      <th>Status</th>
							    </tr>
						  	</thead>
							<tbody>	
								{{#each courses}}
							    <tr>
								    <td>
								    	{{subject_number}}
								    </td>
								    <td>MWF 7:30 AM - 8:30 AM</td>
								    <td>Passed</td>
							    </tr>
							    {{/each}}
							    <!--<tr>
								    <td>CCS121</td>
								    <td>TTH 7:30 AM - 8:30 AM</td>
								    <td>Passed</td>
							    </tr>
							    <tr>
								    <td>CCS122</td>
								    <td>MWF 12:30 PM - 1:30 PM</td>
								    <td>Failed</td>
							    </tr>
							    <tr>
								    <td>CCS123</td>
								    <td>MWF 1:30 PM - 2:30 PM</td>
								    <td>Passed</td>
							    </tr>-->
							</tbody>
						</table> 
					</div>
				</div>
			</div>
		</div>
	</div>
</template>