<template name="studentDashboard">
	<div class="jumbotron" style="margin-top:50px;margin-left:50px;">
	  	<p>
		  	<h1>
		  		Hello, Student!
		  		<a class="btn btn-primary btn-lg" href="#" role="button" style="float:right;">
			  		Go to Class CSS323&nbsp;<i class="fa fa-sign-out"></i>
			  	</a>
		  	</h1>
	  	</p>
	  	<p>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><a id="notes" name="notes">CCS323</a></h3>
			  </div>
			  <div class="panel-body">
			    Computer Fundamentals
			  </div>
			</div>
			
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">CCS421</h3>
			  </div>
			  <div class="panel-body">
			    Software Engineering
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">CCS111</h3>
			  </div>
			  <div class="panel-body">
			    Digital Design
			  </div>
			</div>
		</p>

		<div class="modal fade" id="notes_modal" tabindex="-1" role="dialog" aria-labelledby="notes_modal">
		  	<div class="modal-dialog">
			    <div class="modal-content">
				     <div class="modal-header">
				     	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o" style="color:black;"></i></span></button>
			        	<h5 class="modal-title" id="notes_modal">CCS323 Computer Fundamentals</h5>
				    </div>
				    <div class="modal-body">
				        <textarea class="form-control" rows="12" id="textArea"></textarea>
				    </div>
			    </div>
			</div>
		</div>
	</div>
</template>