<template name="studentSidebar">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul id="sidebar_menu" class="sidebar-nav">
			<div>
			    <input type="image" alt="Profile Picture" src="/assets/profile-picture3.png" style="height:200px;margin-left:20px;margin-top:20px;margin-bottom:15px;">
		    </div>
		</ul>
		<ul id="sidebar_menu" class="sidebar-nav">
		   <li class="sidebar-brand"><a id="menu-toggle" href="#">{{ name }}<i id="main_icon" class="fa fa-bars"></i></a></li>
		</ul>
		<ul class="sidebar-nav">
		  <h5 class="sidebar-brand">MENU</h5>     
		  <li><a href="/student/profile">PROFILE<i class="sub_icon fa fa-user"></i></a></li>
		  <li><a href="/student/current">CURRENT COURSES<i class="sub_icon fa fa-angle-double-right"></i></a></li>
		  <li><a href="/student/previous">PREVIOUS COURSES<i class="sub_icon fa fa-angle-double-left"></i></a></li>
		</ul>
	</div><!-- /#sidebar-wrapper -->
</template>