<template name="currentCourses">
	<!-- Instructor Current Courses -->
	<div id="page-content-wrapper" style="margin-top:50px;">
		<div class="page-content inset">
			<div class="container-fluid">
				<div class="panel panel-default" style="margin-top:50px;margin-left:100px;">
					<div class="panel-body">
						<div class="input-group" style="float:right;">
							<i class="fa fa-search"></i>
							<input type="text" id="search" name="search">
						</div>
						{{ #if Template.subscriptionsReady }}
							{{#if sections.length}}
								<table class="table">
								  	<thead>
										<tr>
											<th>SECTION</th>
											<th>COURSE</th>
											<th>SEMESTER</th>
											<th>SCHEDULE</th>
										</tr>
									</thead>
									<tbody>
										{{ #each sections }}
											<tr class="{{#if state}}alert alert-warning{{/if}}">
												<td class="pointer-hover">{{name}}</td>
												<td class="pointer-hover">{{course.title}}</td>
												<td class="pointer-hover">{{semester.name}}</td>
												<td class="pointer-hover">{{time}}</td>
											</tr>
										{{/each}}
									</tbody>
								</table> 
								<div>
									<a class="btn btn-warning" id="enterClass"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Enter Class</a>
								</div>
							{{else}}
								<div class="jumbotron text-center" style="background:white;">
									<img src="/assets/empty_list_icon.png" style="height:288px;">
									<div >
										<h4>Nothing to display!</h4>
										<p>You have no current course enrolled.</p>
									</div>
								</div>
							{{/if}}
						{{ else }}
							{{> loading }}
						{{ /if }}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>