<template name="notFound">
	<div class="container-fluid" style="margin-top:50px;margin-left:0;">
		<div style="position:absolute; left:20%;">
			<i class="fa fa-star" style="color:white;"></i>
		</div>
		<div style="position:absolute; left:30%;top:20%;">
			<i class="fa fa-star" style="color:white;"></i>
		</div>
		<div style="position:absolute; left:70%;top:70%;">
			<i class="fa fa-star" style="color:white;font-size:30px;"></i>
		</div>
		<div style="position:absolute; left:25%;top:50%;">
			<i class="fa fa-star" style="color:white;font-size:15px;"></i>
		</div>
		<div style="position:absolute; left:65%;top:30%;">
			<i class="fa fa-star" style="color:white;font-size:20px;"></i>
		</div>
		<div style="position:absolute; left:70%;top:20%;">
			<i class="fa fa-star" style="color:white;font-size:30px;"></i>
		</div>
		<div style="position:absolute; left:60%;top:35%;">
			<i class="fa fa-star" style="color:white;"></i>
		</div>
		<div style="position:absolute; left:40%;top:35%;">
			<i class="fa fa-star" style="color:white;font-size:20px;"></i>
		</div>
		<div style="position:absolute; left:42%;top:5%;">
			<i class="fa fa-star" style="color:white;font-size:20px;"></i>
		</div>
		<div style="position:absolute; left:55%;top:10%;">
			<i class="fa fa-star" style="color:white;"></i>
		</div>
		<div style="position:absolute; left:60%;top:20%;">
			<i class="fa fa-rocket" style="color:white;font-size:80px"></i>
		</div>
		<div class="text-center" style="margin-top:20px;">
			<p>
				<i class="fa fa-globe world" style="color:white; font-size:200px;"></i>
				<h1 style="color:white;">404</h1>
			</p>
			<p>
				<h4 style="color:white;">
					Oops, the page you are looking for is out of this world.
				</h4>
			</p>
			<!--<p style="margin-top:40px;">
				<h6 style="color:white;">
					You may go back to our home page.
				</h6>
			</p>-->
			<button id="redirect" type="button" class="btn-transparent" style="margin-top:50px;font-size:20px;">
				RETURN TO EARTH
			</button>
		</div>
	</div>

	<script src="/js/button-gold.js"></script>
</template>