<template name="pageLayout">
	{{ #if currentUser }}
		<!-- {{ #if isInRole 'admin' }} -->
			{{> Template.dynamic template=header }}
			<div class="container">  <!--style="margin-top:25px;padding-right:0px;"-->
				<div id="wrapper" class="active"> <!--style="margin-top:20px;">-->
					{{> Template.dynamic template=sidebar }}
					{{> Template.dynamic template=main }}
				</div>
			</div>
		<!--{{ else }}
			{{> unauthorized }}
		{{ /if }}-->
	{{ else }}
		{{ #if loggingIn }}
			{{> loading }}
		{{ else }}
			{{> loginForm }}
		{{ /if }}
	{{ /if }}
	
	<!-- {{> Template.dynamic template=footer }} -->
</template>