<template name="unauthorized">
	<div class="alert alert-danger col-xs-offset-4 col-md-4">
		<!-- <a href="#" class="close" data-dismiss="alert" aria-label="close" id="logout">&times;</a>-->
		You are not <strong>authorized</strong> to view this page.
		{{ #if isInRole 'student' }}
			<a href="/student">Click here</a> to bring yourself to your designated landing page.
		{{ else }}
			{{ #if isInRole 'instructor' }}
				<a href="/instructor">Click here</a> to bring yourself to your designated landing page.
			{{ else }}
				{{ #if isInRole 'admin' }}
					<a href="/admin">Click here</a> to bring yourself to your designated landing page.
				{{ else }}
					<a href="#" id="logout">Try again.</a>
				{{ /if }}
			{{ /if }}
		{{ /if }}
	</div>
</template>